# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
.env

# Models
backend/models/
backend/data/blockchain.json

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

backend/app/ml/data/
backend/app/ml/fraud_model.pt
backend/app/ml/isolation_forest.pkl
backend/venv/